.top-header {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  z-index: 999;
  /* background: #fff; */
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.header-sticky {
  background: #fff;
  box-shadow: 0px 1px 3px 1px #dddddd63;
  transition: all 0.5s ease-in-out;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.nav-container .logo {
  width: 180px;
}

.main-navbar ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;

  align-items: center;
}

.main-navbar ul li {
  margin-left: 20px;
}

.main-navbar ul li a {
  text-decoration: none;
  color: #a9a9a9;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.main-navbar ul li.active a {
  color: #f89d9f;
  position: relative;
}

.main-navbar ul li.active a:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: #f89d9f;
  border-radius: 100%;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.main-navbar ul li a:hover {
  color: #f89d9f;
}

.common-btn {
  background: #f89d9f;
  color: #fff;

  padding: 10px 25px;
  border: 0px;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.5s;
}

.common-btn:hover {
  color: #fff;
  background: #a9a9a9;
}
/*-----main hamburger/toggle wrapper-----*/
.toggle-bar {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  display: none;
  z-index: 9999;
}

/*-------toggle icon style-------------*/
.toggle-bar .toggle-icon {
  width: 30px;
  height: 4px;
  background: #333;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.toggle-bar .toggle-icon::before,
.toggle-bar .toggle-icon::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #333;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.toggle-bar .toggle-icon::before {
  transform: translateY(-9px);
}

.toggle-bar .toggle-icon::after {
  transform: translateY(9px);
}

/*--------Toggle animation --------------*/
.toggle-bar.open .toggle-icon {
  transform: translateX(-28px);
  background: transparent;
  box-shadow: none;
}

.toggle-bar.open .toggle-icon::before {
  transform: rotate(45deg) translate(20px, -20px);
}

.toggle-bar.open .toggle-icon::after {
  transform: rotate(-45deg) translate(20px, 20px);
}
.sign-inbtn-mb {
  display: none;
}
@media (max-width: 767px) {
  .toggle-bar {
    display: flex;
  }

  .main-navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #0d0d0df5;
    padding: 0px;
    border-top: 0.5px solid #fff;
    transition: all 0.3s ease-in-out;
    z-index: 999;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .main-navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .main-navbar ul {
    flex-direction: column;
    padding: 0px;
  }

  .main-navbar ul li {
    margin-left: 0px;
    padding-left: 15px;
    border-bottom: 0.5px solid #ffffff66;

    display: block;
    width: 100%;
  }

  .main-navbar ul li:last-child {
    border-bottom: 0px;
  }

  .main-navbar ul li a {
    display: block;
    padding: 15px 0px;
    color: #fff;
  }

  .main-navbar ul li.active a:before {
    display: none;
  }

  .sign-inbtn {
    display: none !important;
  }
  .sign-inbtn-mb {
    display: block !important;
  }
  .sign-inbtn-mb button {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .toggle-bar .toggle-icon {
    width: 25px;
    height: 2px;
  }

  .toggle-bar .toggle-icon::before,
  .toggle-bar .toggle-icon::after {
    width: 25px;
    height: 2px;
  }
}
