.propertiesCls {
  /* height: 12000px !important; */
  list-style: none;
  overflow-y: hidden;
}

.added-on-time {
  margin-bottom: 8px;
  display: block;
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
}

.dark {
  color: var(--gray) !important;
}

.property-price {
  margin-bottom: 10px;
  color: #202020;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.viewmap {
  position: relative;
  margin-bottom: 24px;
  width: 100% !important;
}

.viewmap a {
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
  text-decoration: underline;
  position: absolute;
  font-weight: normal !important;
  bottom: 15px;
  display: block;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.details-head-left h3 {
  margin-bottom: 10px;
  color: #202020;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.details-head-right {
  text-align-last: center;
}

.details-head-right span {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 19px;
  font-weight: normal !important;
  color: var(--gray);
}

.details-head-right p {
  font-weight: normal !important;
  margin-bottom: 10px;
  line-height: 21px;
  font-size: 16px;
  position: relative;
  left: 13%;
  color: var(--gray);
  /* text-align-last: end; */
}

.room-details {
  display: flex;
  list-style: none;
  padding-left: 0rem !important;
}

.room-details li {
  position: relative;
  line-height: 21px;
  font-size: 15px;
  margin-left: 4px;
  color: var(--gray);
  /*text-align: center;*/
  /*width: 25%;*/
  /*display: flex;*/
}

.form-details-btn {
  line-height: 21px;
  font-size: 16px;
  text-decoration: underline;
  color: var(--gray);
}

.inlineblock {
  display: inline-block;
}

.inlineblock:hover {
  color: var(--rose-bud);
}

.discription-one {
  margin-bottom: 20px;
}

.discription-one h4 {
  font-size: 18px;
  color: var(--black);
  margin-bottom: 13px;
  font-weight: 700;
  margin-left: 7px;
}

.discription-one p {
  font-size: 14px;
  color: var(--gray);
  font-weight: 500;
}

.property-colum {
  display: flex;
  justify-content: space-between;
}

.property-details {
  padding-left: 0px !important;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 365px;
}

.property-details li {
  border-bottom: 1px solid #dedede;
  padding: 15px 0px;
  font-size: 14px !important;
  font-weight: normal !important;
  list-style: none;
}

.rooms-measure {
  padding-top: 20px !important;
  /* border-top: 1px solid var(--gray); */
  margin: 0px 0px;
}

.rooms-measure-inner {
  padding-bottom: 10px !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.float-right {
  float: right !important;
}

.width100 {
  width: 100%;
}

.color707070 {
  color: var(--gray);
}

span.imper_section {
  float: left;
}

.switch_container_main {
  display: flex;
}

.metric_section,
.imper_section {
  margin-top: 15px !important;
}

.table-responsive .table td {
  font-weight: normal;
  font-size: 14px !important;
}

.table-responsive .table .headings {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray) !important;
  font-size: 14px !important;
}

.rooms-heading {
  font-weight: inherit !important;
  font-size: 14px !important;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #e0e0e0 !important;
}

.list_detroom_meter {
  display: table-cell;
}

.schedule_section .my-form {
  background-color: #f5f5f5;
  border: 1px solid #e8e8e8;
  padding: 16px 38px 29px;
}

.schedule_section .head-form {
  display: flex;
  margin-bottom: 40px;
}

.schedule_section .head-form img {
  width: 84px;
  height: 84px;
  object-fit: cover;
  margin-right: 25px;
}

.schedule_section .head-text h4 {
  margin-bottom: 10px;
  color: var(--gray);
  font-size: 18px;
  line-height: 24px;
}

.schedule_section .head-text span {
  margin-bottom: 10px;
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: var(--secondary);
}

.schedule_section .head-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: var(--gray);
}

.schedule_section .my-form h3 {
  text-align: center;
  /* margin-bottom: 19px; */
  font-size: 18px;
  line-height: 24px;
  color: var(--gray);
  margin-top: -46px !important;
  margin-bottom: 15px !important;
}

.schedule_section .form-group {
  margin-bottom: 15px;
}

.schedule_section .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.schedule_section .submit-btn,
.showSchedule {
  cursor: pointer;
  height: 45px !important;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--white) !important;
  font-size: 16px;
  font-weight: inherit !important;
  border-radius: 0px !important;
  background-color: var(--primary) !important;
  transition: all ease-in-out 0.5s;
  border: 1px solid var(--primary) !important;
}
.schedule_section .my-form h2 {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  color: var(--gray);
  margin-bottom: 15px !important;
}
.sidebar-sticky {
  position: fixed;
  z-index: 9;
  top: 19%;
  width: 32% !important;
}

.sidebar-fixed-v2 {
  position: -webkit-sticky;
  position: sticky;
  top: 89% !important;
  width: 102% !important;
}

.similarProperties .heading {
  color: #202020;
  font-size: 27px;
  line-height: 26px;
}

.lease-ribbon {
  padding: 6px !important;
}

.for-lease-ribbon1 {
  color: #fff;
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 500;
  opacity: 0.8;
  transition: top 0.3s linear;
  overflow: hidden;
}

.for-sale-ribbon,
.for-lease-ribbon,
.for-rent-ribbon {
  color: white;
  position: absolute;
  background-color: var(--primary) !important;
  top: 0;
  right: 10px;
  padding: 0.175rem !important;
  font-weight: bold;
  opacity: 0.8;
  transition: top 300ms linear;
  overflow: hidden;
}

.for-rent-ribbon {
  background-color: var(--secondary);
}

.card-img-wrapper:hover .price {
  bottom: -60px;
}

.card-img-wrapper:hover .for-rent-ribbon,
.card-img-wrapper:hover .for-sale-ribbon,
.card-img-wrapper:hover .for-lease-ribbon {
  top: -50px;
  height: 0%;
  z-index: -9 !important;
}

.loadMap:hover {
  cursor: pointer;
}

.propTypeBtn {
  display: flex;
  margin: 0px 5px;
  margin-left: 0px !important;
}

.map-img {
  height: 220px !important;
  width: 200px !important;
}

.printIcon {
  color: #c88e8fef;
}

.displayFlex {
  display: flex;
}

.hideCls {
  display: none;
}

.showCls {
  display: block;
}

.focusBorder:focus {
  border-color: var(--rose-bud) !important;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.25) !important;
}

.gridMapView {
  padding: 8px 29px !important;
  border-radius: 0px !important;
  background-color: var(--secondary) !important;
  border: 1px solid #fff !important;
  color: #ffffff !important;
  font-size: 15px !important;
  font-weight: inherit !important;
}

.labelSection {
  padding: 0px 15px !important;
}

.rentBtn {
  background: var(--primary) !important;
}

.gridMapViewBtn {
  display: flex;
  justify-content: flex-end;
  /* padding: 0px 15px !important; */
}

.google-map {
  padding: 20px;
  height: 520px;
  width: 100%;
}

.map-container {
  height: 300px;
}

.fontSize15 {
  font-size: 15px !important;
}

.textCenter {
  text-align: right !important;
}

.width100 {
  width: 100% !important;
}

.featureListing {
  margin-top: -100px !important;
}

.opacity-5 {
  opacity: 0.5;
  top: 0%;
  left: 98%;
  z-index: 99999;
}

.padding30 {
  padding-right: 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.property-div-img {
  height: calc(300px - (5px / 2));
  padding: 0 5px 0 0 !important;
}

.property-div-img1 {
  height: calc(300px - (5px / 2));
  padding: 0 30px 0 0px !important;
}

.property-popup {
  top: 0%;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  -ms-overflow-style: none;
  right: 0% !important;
}

/* Tab css Ned to move in React common Start */
/* .tabs{
	width:70%;
	text-align:center;
	margin-top:15vh;
  } */

/* img{
	width:300px;
  } */

/* .tab-buttons{
	margin-bottom:50px;
	text-align: center;
  }
  
  button{
	margin-right:15px;
	font-size:20px;
	background:transparent;
	border:none;
	outline:none;
	padding:10px 20px ;
	cursor:pointer;
	color:#fff;
	transition:all ease-in-out .2s;
	border-bottom:2px solid transparent;
	
  }
  .active{
	border-bottom:2px solid #42b3f4;
  } */
/* Tab css Ned to move in React common End */

/* Responsive */

/* For Laptop and etc */

@media (min-width: 992px) {
  .for-sale-ribbon,
  .for-rent-ribbon,
  .for-lease-ribbon {
    font-size: 0.8em;
  }
}

/* For Tablet */

@media (max-width: 991.98px) {
  .for-sale-ribbon,
  .for-lease-ribbon,
  .for-rent-ribbon {
    font-size: 0.7em;
  }

  .displayFlex {
    display: flex;
    justify-content: space-around;
  }
}

/* For landscape phones */

@media (max-width: 767.98px) {
  .card-body-row {
    text-align: center;
  }

  .displayFlex {
    display: flex;
    justify-content: space-around;
  }
}

.downPaymentSection ul {
  min-height: auto !important;
  top: 32% !important;
  padding-top: 10px !important;
  width: 140px !important;
}

.downPaymentSection ul li {
  margin-top: 20px !important;
}

.listCards ul {
  list-style: none !important;
  display: flex !important;
  width: auto !important;
  justify-content: space-between !important;
  padding-left: 0rem !important;
}

.listCards {
  height: 93% !important;
}

.listCards ul li h2 {
  font-size: 20px !important;
  margin-top: -3px !important;
}

.homeCard .propAddress,
.domCls {
  font-size: 12px !important;
}

.homeCard .card-body {
  padding: 1rem 0.7rem !important;
}

.homeCard .fillHeart {
  width: 31px !important;
}

.card-img-wrapper:hover .dom-ribbon {
  opacity: 0 !important;
  top: -20px !important;
}

.priceDisp {
  margin-top: -34px !important;
  display: flex !important;
  justify-content: space-between !important;
  list-style: none !important;
}

.mt6 {
  margin-top: 6px !important;
}

.detailCards .cardList {
  height: 92% !important;
}

.detailsLabel {
  font-weight: bold !important;
}

.broker-text {
  font-size: 13px !important;
  font-weight: normal;
  color: #9f9f9f !important;
}

.sendBtnSection {
  position: relative;
  left: 49%;
  top: 15px !important;
  border-radius: 0px !important;
}

.sendBtnSection,
.sendBtn {
  border-radius: 0px !important;
}

#contactForm .form-control {
  border-radius: 0px !important;
  border-color: var(--white) !important;
  height: 50px !important;
  padding-top: 11px !important;
}

#contactForm .form-control:focus {
  box-shadow: 0 0 0 0rem #f5f5f5 !important;
}

#contactForm .inputs-areas {
  height: auto !important;
  margin-top: -9px !important;
}

#contactForm .inputs-areas :focus {
  border-color: var(--primary) !important;
}

#contactForm .inputs-areas #message {
  height: 90px !important;
}

#contactForm .inputs-areas label {
  color: var(--secondary) !important;
  font-size: 13px !important;
  margin-left: 10px !important;
  position: relative;
  top: 22px;
}



.detailCollapes {
  border: 0.8px solid var(--light-gray);
  border-radius: 2px !important;
}

.detailCollapesTitle {
  background-color: var(--light-gray);
  padding: 8px 0px;
}

.detailCollapesTitle::marker {
  color: var(--light-gray) !important;
  display: none !important;
}

.detailCollapesTitle::after {
  content: url("/images/icons/downArrow.svg");
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 2% !important;
  top: -12px !important;
}

details {
  transition: height 1.2s ease;
  overflow: hidden;
}

details:not([open]) {
  height: 3em;
}

.generalDesc details:not([open]) {
  height: 3em;
}

.extras details:not([open]) {
  height: 3em;
}

.generalDesc details {
  height: auto;
}

.extras details {
  height: 10rem;
}

.propertyDetails details:not([open]) {
  height: 3em;
}

/*.propertyDetails details {*/
/*	height: 38rem ;*/
/*}*/
.propertyDetails details {
  height: fit-content;
}

.roomsDetails details:not([open]) {
  height: 3em;
}

.roomsDetails details {
  height: 28rem;
}
#sold-cls-details {
  height: 3rem !important;
}

.trHead {
  background-color: #f8f8f8 !important;
}

.room-details .beds,
.gar {
  height: 21px !important;
  width: 21px !important;
  margin-left: 13px;
}

.room-details .baths {
  height: 25px !important;
  width: 25px !important;
  margin-left: 13px;
}

.linksCls {
  display: block !important;
  background: white;
  position: relative;
  z-index: 999999;
  opacity: 11;
  border: 0.2px solid gray;
  top: 49%;
  padding: 10px !important;
  font-size: inherit;
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 4px 6px -1px rgba(44, 43, 43, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.share .show {
  position: absolute;
  left: 0%;
  top: 0%;
  /* display: none !important; */
  transition: all ease-in-out 0.2s;
  transform: translate3d(-88px, 25px, 0px);
  will-change: transform;
}

.share .show a:hover {
  background-color: var(--rose-bud);
  cursor: pointer;
  color: var(--white);
}

.share .show a {
  transition: all ease-in-out 0.5s !important;
  border-top: 0.2px solid var(--light-gray) !important;
  font-weight: 450;
}

.shareLinks {
  cursor: pointer;
}

.shareLinks:hover + .dropdown-menu {
  /* display: block !important; */
}

.share .dropdown-menu {
  padding: 0rem 2px !important;
}

.dropdown-menu:hover {
  /* display: block !important; */
}

.walkScore {
  margin: 0px;
  outline: none;
  text-align: left;
  text-decoration: none;
  padding: 0px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  vertical-align: baseline;
  text-indent: 0px;
  text-shadow: none;
  white-space: normal;
  background-image: none;
  background-color: transparent;
  border: 0px;
  position: relative;
  left: 7%;
}

.garSpace {
  margin-top: 30px !important;
}

.posLeft,
.garSpace {
  position: relative;
  left: 2% !important;
}

@media (min-width: 767px) {
  .cardList .propertImage {
    height: 200px !important;
  }
}

.filter {
  filter: blur(4px) !important;
  pointer-events: none;
}

/* #closeBtn{
	display: none;
} */

.navImgs {
  cursor: pointer;
}
.garSpc {
  position: relative;
  width: 30px;
  height: 30px;
  top: -75%;
  left: 20%;
  opacity: 0.5;
}
.garSpaceLabel {
  position: relative;
  top: -54%;
}

#modalEmailForm label {
  color: var(--secondary) !important;
  font-size: 13px !important;
}

#modalEmailForm .form-control {
  border-radius: 0;
  margin-top: 2% !important;
}

.emailShareModel .modal-content {
  min-height: 480px !important;
}

.agent-profile {
  border-radius: 50%;
}

.model-container {
  background-color: #9f9f9f !important;
  width: 95% !important;
  margin: -2px auto !important;
  /*height: 617px;*/
  height: 100vh;
}

.neighbourhood-cls {
  padding: 0px 2.5%;
  margin-top: -2%;
}

.height-auto {
  height: auto !important;
}
#photosTab #rightArrow {
  width: 20px !important;
  height: 24px !important;
}

.table-res {
  overflow: scroll;
}
.txt-end {
	text-align: end !important;
}
.blury1 {
	filter: blur(4px) !important;
	/*z-index: -1;*/
}
.listHistoryActive{
	background-color: #E9EFF3;
}
.listing-detail-status div{
  font-size: 14px;
	display: inline-block;
	padding: 4px 10px;
	color: #fff;
	border-radius: 3px;
}
.for-sale-tag {
	background: var(--theme-color);
}

.forLease {
	/* background-color: var(--theme-color)!important; */
	background-color: #AD5708 !important;
}
.forSold {
	/* background-color: var(--theme-color)!important; */
	background-color: red !important;
}
.forTer{
	background-color:rgb(255, 166, 0);
}
.forSale-cls {
	background-color: #0BAD08 !important;
}
.forExpAll{
	background-color: rgb(255, 0, 144);
}
.join-signIn-toggle {
	cursor: pointer;
}

.sign-in-required span {
	font-size: 15px !important;
}

.sign-in-required .sign-in-required-inner {
	background-color: #dee2e6cf !important;
	border-radius: 5px;
}

.sign-in-required p {
	font-size: 14px !important;
}
.medium-tag{
  color:#fff !important;
}