APP_NAME=
APP_ENV=local
APP_KEY=base64:X6ZgRijeQo7FusJuieAgwLexJ9BhS2+TStW6dtdVof4=
APP_DEBUG=true
APP_URL=
TIME_ZONE='Canada/Central'
LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-2
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false



PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


MONGO_DB_HOST=127.0.0.1
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=searchrealty
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=

RUNNING_DB_INFO=sql


REMOTE_DB_CONNECTION=mysql
REMOTE_DB_HOST=127.0.0.1
REMOTE_DB_PORT=3306
REMOTE_DB_DATABASE=
REMOTE_DB_USERNAME=
REMOTE_DB_PASSWORD=

SUPERBBROKERFROM=
SUPERBBROKERTO=
ALERT_CC_EMAIL_ID=
ALERT_BCC_EMAIL_ID=

SUPERADMINEMAIL_TEMP=
SUPERADMINEMAIL=


RETSLOGINURL=
RETSUSERNAME=
#RETSUSERNAME=
RETSPASSWORD=
#RETSPASSWORD=
Google_Api_Key=


#IDX LOGIN CRED
IDXRETSLOGINURL=
IDXRETSUSERNAME=
IDXRETSUSERNAMEACTIVE=
IDXRETSPASSWORD=

#VOW LOGIN CRED
VOWRETSLOGINURL=
VOWRETSUSERNAME=
VOWRETSPASSWORD=





MAPBOXAPI=


FROM_EMAIL_DEV=sagr7188@gmail.com
TEST_EMAIL=test@email.com

HOUSENAGENTID=2
WEDUAGENTID=3
IPROPGRO=5

WEDUURL=
HOUSENFRONTURL =
MAIL_FROM_NAME_HOUSEN=
MAIL_FROM_NAME_WEDU=

SIGNUP_NOTIFICATION_MSG="registered as new user."
CONTACTUS_NOTIFICATION_MSG="have some message for you."
SCHEDULE_A_SHOWING_FORM_NOTIFICATION_MSG="want to schedule a meeting."
HOME_VALUATION_NOTIFICATION_MSG="want to get property sold."
LOGOURL=
