.loaderCls {
    position: fixed;
    /*top: 30%;*/
    left: 0;
    z-index: 9999;
    background-color: #04040499;
    width: 100%;
    top: 0;
    height: 100%;
}
.loaderCls img{
    height: 60px;
    position: absolute;
    /*left: 130px;*/
    top: 40%;
    left: 46%;
}

.maploaderCls{
    position: absolute;
    /*top: 30%;*/
    left: 0;
    z-index: 99;
    /*background-color: #04040499;*/
    width: 100px;
    top: 0;
    height: 100px;
    text-align: center;
    transform: translate(250px,200px);
}
.maploaderCls img{
   width: 35px;
   margin: auto 0;
}
@media only screen and (max-width: 800px) {
    .maploaderCls{
        transform: translate(140px,200px);
    }
}